body {
    background-color: white;
}

#chart {
  height: 650px; 'must at least match the svg, to place content after it!
}

.node rect {
  cursor: move;
  fill-opacity: .9;
  shape-rendering: crispEdges;
}

.node text {
  pointer-events: none;
  text-shadow: 0 1px 0 #fff;
}

.link {
  fill: none;
  'stroke: #000;
  stroke-opacity: .5;
}

.link:hover {
  stroke-opacity: .8;
}